<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container">
        <h2>About Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos cupiditate quaerat suscipit totam omnis minima? Repellendus necessitatibus asperiores fugit delectus quidem ipsa hic accusamus iusto id distinctio voluptatum tempora laboriosam sapiente impedit iste provident dignissimos adipisci fuga nemo, laudantium cum facere quas dicta. Obcaecati, modi tempora. Quibusdam veniam non ab!</p>
    </div>
</body>
</html>